/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.w100 {
    width: 100% !important;
}

.h100 {
    height: 100% !important;
}

progress-bar {
    width: 100%;
}

.progress-outer {
    margin: 0 !important;
}

.fixed {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000;
}

.charcoal {
    background: #252525 !important;
}

.text-center {
    text-align: center;
}