.intro-banner {
    background-image: url("../../assets/home-banner-bg.jpg");
    background-size: cover;
    background-position: 0% 20%;
    min-height: 100vh;
    max-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, .5)
}

.nav-icon {
    margin-bottom: 50px;
    color: rgba(255, 255, 255, .5) !important;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.nav-icon:hover {
    color: rgba( 255, 255, 255) !important
}

.text-overlay {
    z-index: 1000;
}

.navbar {
    background-color: #101010;
    height: 40px;
    color: white;
}

.navbar a {
    text-decoration: none !important;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.section-header {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    font-size: 30pt;
    font-weight: 700;
}

.about, .experience, .portfolio, .contact {
    padding: 75px 0px;
}

.ethic {
    max-width: 300px !important;
    max-height: 250px !important;
}

.ethic > .title {
    font-size: 18pt;
    margin: 15px 0px 5px 0px;
    font-weight: bold;
    text-align: center;
}

.ethic > .message {
    text-align: center;
}

.hexagon {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #64C7CC;
    margin: 28.87px 0;
}
  
.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #64C7CC;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #64C7CC;
}

.hexagon > .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info {
    padding: 50px 150px;
}

.bar-list > .bar-outline {
    margin-bottom: 15px;
}

.bar-list .skill-title {
    padding-right: 10px;
}

.other-skills {
    padding-top: 50px;
}

.other-skills > h2 {
    font-weight: 700;
}

.other-skills > div {
    padding: 25px 0px;
}

.other-skills i {
    font-size: 60px;
    padding: 10px 25px;
    cursor: help;
}

.experience, .contact {
    color: black;
}

.experience {
    padding-left: 150px;
    padding-right: 150px;
}

.title-section {
    margin-left: 15px;
}

.date, .job-title {
    white-space: nowrap;
    color: white;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    background: #333;
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #aaa;
    font-weight: 700;
}

.name {
    white-space: nowrap;
    color: black;
    padding: 6px 12px;
    font-size: 14px;
    background: #BF1531;
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #aaa;
    font-weight: 700;
}

.name > a {
    color: black;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}

.name > a:hover {
    color: gray;
}

.job {
    margin-bottom: 25px;
}

.job > ul {
    margin-left: 25px;
    margin-bottom: 0px;
}

.tools > span {
    margin: 0px 3px;
}

.tool-box {
    margin: 5px 2px;
    white-space: nowrap;
    background: #aaa;
    color: black;
    padding: 3px 7px;
    border-radius: 2px;
    background: #aaa;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid #222;
    font-size: 10px;
}

.language {
    background: #777 !important;
    color: white !important;
}

.portfolio .other {
    margin-top: 50px;
}

.card-list {
    margin-top: 25px;
    width: 1200px;
    max-width: 1200px;
    min-width: 1200px;
}

.card-list > .card {
    width: 390px;
    height: 300px;
    border: 0;
    border-radius: 0px;
    background: url("http://findmatthew.com/style/../img/thumb-3.jpg");
    cursor: pointer;
}

.modal-body img{
    width: 700px;
    height: 450px;
}

.separator {
    height: 4px;
    background-color: black;
}

.info {
    padding: 35px 25px;
}

.contact-form {
    margin-top: 50px;
}

form {
    width: 500px;
}

form > input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background: #1E242C;
    font-size: 12pt;
    margin-bottom: 3px;
    color: #fff;
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background: #1E242C;
    font-size: 12pt;
    color: #fff;
    margin-bottom: 5px;
    min-height: 150px;
    height: 150px;
}

.contact-btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background: #1E242C;
    font-size: 12pt;
    color: #fff;
    margin-bottom: 5px;
}

.footer {
    padding-top: 75px;
    position: relative;
}

.footer .top-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    top: -25px;
    background-color: #1E242C;
    border: 1px solid white;
    cursor: pointer;
}

.social-list > a {
    color: white;
    margin: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: #1E242C;
    border-radius: 5px;
    cursor: pointer;
}

.copyright {
    margin-top: 15px;
    margin-bottom: 25px;
}