<div class="page-container">
  <section class="intro-banner w100" id="home" fxLayout="column" fxLayoutAlign="center center">
    <div class="overlay w100" fxLayout="column" fxLayoutAlign="end center">
        <a class="nav-icon" [ngx-scroll-to]="'#about'"><fa name="arrow-circle-down" size="3x"></fa></a>
    </div>
    <div class="text-overlay line1" fxLayout="row" fxLayoutAlign="center center">
      <span class="text-center" typingAnimation [typeSpeed]="50" [hideCursorOnComplete]="true" [startDelay]="000" (complete)="TypingComplete(1)">Hello, my name is Anthony Velazquez</span>
    </div>
    <div class="text-overlay line2" fxLayout="row" fxLayoutAlign="center center">
      <span class="text-center" typingAnimation [typeSpeed]="50" [hideCursorOnComplete]="true" [condition]="LoadLine2" (complete)="TypingComplete(2)">I'm a Full-Stack Web and Software Developer</span>
    </div>
    <div class="text-overlay line3" fxLayout="row" fxLayoutAlign="center center">
      <span class="text-center" typingAnimation [typeSpeed]="50" [hideCursorOnComplete]="false" [condition]="LoadLine3" (complete)="TypingComplete(3)">Completing B.S. in Computer Science at William Paterson University</span>
    </div>
  </section>
  <div class="navbar w100" fxLayout="row" fxLayoutAlign="space-evenly center" [ngClass]="{'fixed': FixedNavbar}" #navbar>
    <a [ngx-scroll-to]="'#home'">Home</a>
    <a [ngx-scroll-to]="'#about'">About</a>
    <a [ngx-scroll-to]="'#experience'">Experience</a>
    <a [ngx-scroll-to]="'#portfolio'">Portfolio</a>
    <a [ngx-scroll-to]="'#contact'">Contact</a>
  </div>
  <section class="about charcoal" id="about">
    <div class="section-header">
      About
    </div>
    <div class="ethics-container" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
          <div class="hexagon">
            <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center"><fa name="tachometer" size="3x"></fa></div>
          </div>
        <div class="title">Fast</div>
        <div class="message">Fast loading times and lage free interaction, my highest priority</div>
      </div>
      <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
          <div class="hexagon">
            <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center"><fa name="desktop" size="3x"></fa></div>
          </div>
        <div class="title">Responsive</div>
        <div class="message">My layouts and designs will work on any device, big or small</div>
      </div>
      <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
          <div class="hexagon">
            <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center"><fa name="users" size="3x"></fa></div>
          </div>
        <div class="title">Intuitive</div>
        <div class="message">I always strive for functionality with simple and intuitive designs for users</div>
      </div>
      <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
          <div class="hexagon">
            <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center"><fa name="rocket" size="3x"></fa></div>
          </div>
        <div class="title">Dynamic</div>
        <div class="message">Websites and software doesn't always statis. My goal is to make them come alive</div>
      </div>
    </div>
    <div class="info" fxLayout="column" fxLayoutAlign="space-evenly center">
      <div class="main-skills w100" fxLayout="row" fxLayoutAlign="space-evenly center">
          <div class="bio" fxFlex="50">
              ss
            </div>
            <div class="skills" fxFlex>
              <div class="bar-list">
                <div class="bar-outline" fxLayout="row" fxLayoutAlign="start center">
                  <div class="skill-title" fxFlex="20">
                    HTML5/CSS
                  </div>
                  <progress-bar [progress]="80" [color]="'#488aff'">
                    </progress-bar>
                </div>
                <div class="bar-outline" fxLayout="row" fxLayoutAlign="start center">
                  <div class="skill-title" fxFlex="20">
                    Angular 6
                  </div>
                  <progress-bar [progress]="60" [color]="'#488aff'">
                    </progress-bar>
                </div>
                <div class="bar-outline" fxLayout="row" fxLayoutAlign="start center">
                  <div class="skill-title" fxFlex="20">
                    Django
                  </div>
                  <progress-bar [progress]="60" [color]="'#488aff'">
                    </progress-bar>
                </div>
                <div class="bar-outline" fxLayout="row" fxLayoutAlign="start center">
                  <div class="skill-title" fxFlex="20">
                    Python
                  </div>
                  <progress-bar [progress]="70" [color]="'#488aff'">
                    </progress-bar>
                </div>
                <div class="bar-outline" fxLayout="row" fxLayoutAlign="start center">
                  <div class="skill-title" fxFlex="20">
                    C++
                  </div>
                  <progress-bar [progress]="70" [color]="'#488aff'">
                    </progress-bar>
                </div>
              </div>
            </div>
      </div>
      <div class="other-skills w100" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h2>Other Skills</h2>
        <div class="row1 w100" fxLayout="row" fxLayoutAlign="space-between center">
          <i class="devicon-csharp-plain" placement="top" ngbTooltip="C#"></i>
          <i class="devicon-c-plain" placement="top" ngbTooltip="C"></i>
          <i class="devicon-docker-plain-wordmark" placement="top" ngbTooltip="Docker"></i>
          <i class="devicon-github-plain-wordmark" placement="top" ngbTooltip="GitHub"></i>
          <i class="devicon-heroku-original-wordmark" placement="top" ngbTooltip="Heroku"></i>
          <i class="devicon-jquery-plain-wordmark" placement="top" ngbTooltip="jQuery"></i>
          <i class="devicon-mongodb-plain-wordmark" placement="top" ngbTooltip="MongoDB"></i>
          <i class="devicon-nodejs-plain" placement="top" ngbTooltip="Node.js"></i>
        </div>
        <div class="row2 w100" fxLayout="row" fxLayoutAlign="space-between center">
          <i class="devicon-bootstrap-plain-wordmark" placement="bottom" ngbTooltip="Bootstrap"></i>
          <i class="devicon-java-plain-wordmark" placement="bottom" ngbTooltip="Java"></i>
          <i class="devicon-swift-plain" placement="bottom" ngbTooltip="Swift"></i>
          <i class="devicon-visualstudio-plain" placement="bottom" ngbTooltip="Visual Code"></i>
          <i class="devicon-wordpress-plain-wordmark" placement="bottom" ngbTooltip="Wordpress"></i>
          <i class="devicon-sass-original" placement="bottom" ngbTooltip="Sass"></i>
          <i class="devicon-typescript-plain" placement="bottom" ngbTooltip="Typescript"></i>
          <i class="devicon-amazonwebservices-plain" placement="bottom" ngbTooltip="Amazon Web Services"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="experience" id="experience">
    <div class="section-header">
      Experience
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly start">
      <div class="employment" fxFlex="50" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h4>Employment</h4>
        <div class="job w100" *ngFor="let job of EmploymentList">
          <div class="job-header" fxLayout="row" fxLayoutAlign="start center">
            <fa name="building" size="lg"></fa>
            <div class="title-section" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <div class="date">{{job.time_frame}}</div>
              <div class="name"><a href="{{job.url}}" target="_blank">{{job.name}}</a></div>
              <div class="job-title">{{job.title}}</div>
            </div>
          </div>
          <ul>
            <li *ngFor="let line of job.summary">{{line}}</li>
          </ul>
          <div class="tools" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="tool-box language" *ngFor="let language of job.languages">{{language}}</div>
            <span> | </span>
            <div class="tool-box" *ngFor="let tool of job.tools">{{tool}}</div>
          </div>
        </div>
      </div>
      <div class="education" fxFlex="50" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h4>Education</h4>
        <div class="job w100" *ngFor="let job of EducationList">
          <div class="job-header" fxLayout="row" fxLayoutAlign="start center">
            <fa name="graduation-cap" size="lg"></fa>
            <div class="title-section" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <div class="date">{{job.time_frame}}</div>
              <div class="name"><a href="{{job.url}}" target="_blank">{{job.name}}</a></div>
              <div class="job-title">{{job.title}}</div>
            </div>
          </div>
          <ul>
            <li *ngFor="let line of job.summary">{{line}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio charcoal" id="portfolio">
    <div class="section-header">
      Showcase
    </div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <!-- <img [src]="images[0]" alt="Random first slide"> -->
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <!-- <img [src]="images[1]" alt="Random second slide"> -->
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <!-- <img [src]="images[2]" alt="Random third slide"> -->
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="other" fxLayout="column" fxLayoutAlign="center center">
      <h2 class="text-center">Other Projects</h2>
      <div class="card-list" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="card" (click)="open(content)">

        </div>
        <div class="card" (click)="open(content)">
          
          </div>
          <div class="card" (click)="open(content)">
          
            </div>
            <div class="card" (click)="open(content)">
          
            </div>
            <div class="card" (click)="open(content)">
          
            </div>
            <div class="card" (click)="open(content)">
          
            </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="section-header" style="padding-bottom: 25px">
      Contact
      <p *ngFor="let a of ProjectList">{{a.project_name}}</p>
    </div>
    <div class="headline">
      <h6>Have a question or want to work together?</h6>
    </div>
    <div class="contact-form">
      <form action="" fxLayout="column" fxLayoutAlign="space-evenly center">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Email Address" required>
        <textarea name="message" cols="30" rows="10" placeholder="Message"></textarea>
        <button type="submit" class="contact-btn">Send Message</button>
      </form>
    </div>
  </section>
  <section class="footer charcoal" id="footer" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="top-btn" fxLayout="column" fxLayoutAlign="space-evenly center">
      <a [ngx-scroll-to]="'#home'"><fa name="angle-double-up" size="2x"></fa></a>
    </div>
    <div class="social-list" fxLayout="row" fxLayoutAlign="space-evenly center">
      <a target="_blank" href="" fxLayout="column" fxLayoutAlign="center center"><fa name="facebook" size="2x"></fa></a>
      <a target="_blank" href="" fxLayout="column" fxLayoutAlign="center center"><fa name="instagram" size="2x"></fa></a>
      <a target="_blank" href="" fxLayout="column" fxLayoutAlign="center center"><fa name="linkedin" size="2x"></fa></a>
      <a target="_blank" href="https://github.com/anthonyvelazquez/" fxLayout="column" fxLayoutAlign="center center"><fa name="github" size="2x"></fa></a>
    </div>
    <div class="copyright">
      <p class="text-center">Anthony Velazquez © 2018</p>
    </div>
  </section>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="http://findmatthew.com/img/slides/roambi-1.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="http://findmatthew.com/img/slides/roambi-1.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="http://findmatthew.com/img/slides/roambi-1.jpg" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <div class="separator w100"></div>
      <div class="info">
        <div class="title">Project Name</div>
        <div class="tags">Sample Tag</div>
        <div class="details">Sample blah blah</div>
      </div>
    </div>
  </ng-template>
  