<section class="intro-banner">
sd
</section>
<div class="navbar w100" fxLayout="row" fxLayoutAlign="space-evenly center">
  <a href="">Home</a>
  <a href="">About</a>
  <a href="">Portfolio</a>
  <a href="">Contact</a>
</div>
<section class="about" id="about">
  <div class="section-header">
    About
  </div>
  <div class="ethics-container" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="hexagon">
          <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center">ss</div>
        </div>
      <div class="title">Fast</div>
      <div class="message">Fast loading times and lage free interaction, my highest priority</div>
    </div>
    <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="hexagon">
          <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center">ss</div>
        </div>
      <div class="title">Responsive</div>
      <div class="message">Fast loading times and lage free interaction, my highest priority</div>
    </div>
    <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="hexagon">
          <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center">ss</div>
        </div>
      <div class="title">Intuitive</div>
      <div class="message">Fast loading times and lage free interaction, my highest priority</div>
    </div>
    <div class="ethic" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="hexagon">
          <div class="icon" fxLayout="row" fxLayoutAlign="space-evenly center">ss</div>
        </div>
      <div class="title">Dynamic</div>
      <div class="message">Fast loading times and lage free interaction, my highest priority</div>
    </div>
  </div>
</section>